repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-json
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.3
  hooks: 
    - id: ruff
      types_or: [python, pyi, jupyter]
      args: [--fix]
    - id: ruff-format
      types_or: [python, pyi, jupyter]
- repo: https://github.com/srstevenson/nb-clean
  rev: 4.0.1
  hooks:
  - id: nb-clean